html, body {
  font-family: 'Roboto', sans-serif;
  margin: -3px -3px auto;
  min-height: 102vh;
  height: min-content;
  scroll-behavior: smooth;
  display: grid;
  grid-template-areas:
  "head"
  "main"
  "foot";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

body > header {
  grid-area: head;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: foot;
}

h1 {
  font-size: 42px;
}

h2 {
  color: grey;
}

p {
  font-size: 24px;
  margin: 0 0 20px 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 295px;
  height: 60px;
  padding: 15px;
  white-space: nowrap;
}

button img {
  max-width: 60px;
  height: auto;
  padding-right: 10px;
}

.lilatri-img {
  width: 80vw;
}

main {
  padding: 0 5vh 0 5vh;
  margin: auto;
  max-width: 450px;
}

.pinktri-img {
  float: right;
  width: 80vw;
  margin-bottom: -3px;
}

@media screen and (min-width: 768px) {

main {
  margin: 0 auto auto auto;
}

.lilatri-img {
  width: 40vw;
}

.pinktri-img {
  width: 40vw;
}

}
