html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: -3px -3px auto;
}

@media screen and (min-width: 0px) {
  h1 {
    font-size: 75px;
    margin: 0px;
  }

  h2 {
    font-size: 38px;
    margin: 0px;
  }

  h3 {
    font-size: 28px;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    padding-right: 15px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ebebeb;
    max-width: 250px;
    max-height: 75px;
    padding-right: 25px;
  }

  a:hover {
    text-decoration: underline;
  }

  .top-hero {
    display: grid;
    grid-template-columns: 5% 35% 15%;
    grid-template-rows: 3% 25% 50% 10%;
    max-height: 103vh;
    height: min-content;
  }

  .lilatri-top {
    margin: -37px;
  }

  .header-menu-items {
    grid-column: 3 / span 2;
    grid-row-start: 2;
  }

  .header-menu-logo {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .header-menu-items a {
    padding-right: 30px;
  }

  .hero-content {
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;
  }

  .hero-content h1 {
    padding-top: 25px;
  }

  .hero-content h3 {
    padding: 30px 50px 35px 0;
    white-space: nowrap;
  }

  .slack-icon {
    width: 60px;
  }

  .slack-client {
    display: none;
  }

  .pink-hero {
    grid-column: 1 / span 4;
    grid-row: baseline;
    width: 100%;
  }

  .features-header {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    grid-auto-rows: 400px;
    grid-row-gap: 30px;
    padding: 60px 15vw 0 15vw;
  }

  .feature-content {
    grid-row-start: 2;
    grid-column: 1;
  }

  .feature6 {
    outline: solid;
    padding: 2px;
  }

  .what-users-say-heading {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .what-users-say {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
    grid-row gap: 50px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
  }

  .what-users-say p {
    font-size: 24px;
  }

  .what-users-say img {
    max-width: 100px;
  }

  .get-started-today {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 15% 20% 1fr;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .get-started-today p {
    grid-row-start: 2;
    font-size: 24px;
  }

  .get-started-today button {
    grid-row: 2 / span 2;
    grid-column-start: end;
  }

  .why-ingrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 1fr;
    padding: 150px 15vw 5vw 15vw;
    text-align: center;
  }

  .why-ingrid-content {
    grid-column-start: 2;
  }

  .why-ingrid-content p {
    font-size: 24px;
  }

  .lilatri-bottom {
    float: right;
  }
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 42px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  h2 {
    font-size: 32px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  h3 {
    font-size: 24px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding-right: 15px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ebebeb;
    max-width: 250px;
    max-height: 75px;
    padding-right: 25px;
  }

  a:hover {
    text-decoration: underline;
  }

  .top-hero {
    display: grid;
    grid-template-columns: 15% 35% 1fr 10%;
    grid-template-rows: 3% 20% 1fr 10%;
    max-height: 103vh;
    height: min-content;
  }

  .lilatri-top {
    margin: -25px;
  }

  .header-menu-items {
    grid-column: 3 / span 2;
    grid-row-start: 2;
  }

  .header-menu-logo {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .header-menu-items a {
    padding-right: 30px;
  }

  .hero-content {
    grid-column-start: 2;
    grid-row: 3 / span 2;
  }

  .hero-content h3 {
    padding: 20px 50px 20px 0;
  }

  .slack-icon {
    width: 60px;
  }

  .slack-client {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    width: 40vw;
  }

  .pink-hero {
    grid-column: 1 / span 4;
    grid-row: baseline;
    width: 100%;
  }

  .features-header {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-auto-rows: 275px;
    grid-row-gap: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
  }

  .feature-content {
    grid-row-start: 2;
    grid-column: 1;
  }

  .feature6 {
    outline: solid;
    padding: 2px;
  }

  .what-users-say-heading {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .what-users-say {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-auto-rows: 300px;
    grid-row gap: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
  }

  .what-users-say p {
    font-size: 24px;
  }

  .what-users-say img {
    max-width: 100px;
  }

  .get-started-today {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 15% 20% 1fr;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .get-started-today p {
    grid-row-start: 2;
    font-size: 24px;
  }

  .get-started-today button {
    grid-row: 2 / span 2;
    grid-column-start: end;
  }

  .why-ingrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 1fr;
    padding: 150px 15vw 5vw 15vw;
    text-align: center;
  }

  .why-ingrid-content {
    grid-column-start: 2;
  }

  .why-ingrid-content p {
    font-size: 24px;
  }

  .lilatri-bottom {
    float: right;
  }
}

@media screen and (min-width: 1200px) {

  h1 {
    font-size: 80px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  h2 {
    font-size: 50px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  h3 {
    font-size: 32px;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  p {
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    padding-right: 15px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #ebebeb;
    max-width:250px;
    max-height: 75px;
    padding-right: 25px;
  }

  a:hover {
    text-decoration: underline;
  }

  .top-hero {
    display: grid;
    grid-template-columns: 15% 30% 1fr 10%;
    grid-template-rows: 3% 20% 1fr 10%;
    max-height: 103vh;
    height: min-content;
  }

  .header-menu-items {
    grid-column: 3 / span 2;
    grid-row-start: 2;
  }

  .header-menu-logo {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .header-menu-items a {
    padding-right: 30px;
  }

  .hero-content {
    grid-column-start: 2;
    grid-row: 3 / span 2;
  }

  .hero-content h3 {
    padding: 20px 50px 20px 0;
  }

  .slack-icon {
    width: 60px;
  }

  .slack-client {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    width: 40vw;
  }

  .pink-hero {
    grid-column: 1 / span 4;
    grid-row: baseline;
    width: 100%;
  }

  .features-header {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-auto-rows: 275px;
    grid-row-gap: 60px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
  }

  .feature-content {
    grid-row-start: 2;
    grid-column: 1;
  }

  .feature6 {
    outline: solid;
    padding: 2px;
  }

  .what-users-say-heading {
    padding-left: 15vw;
    padding-top: 150px;
  }

  .what-users-say {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-auto-rows: 300px;
    grid-row gap: 60px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
  }

  .what-users-say p {
    font-size: 24px;
  }

  .what-users-say img {
    max-width: 100px;
  }

  .get-started-today {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 10% 20% 1fr;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .get-started-today p {
    grid-row-start: 3;
    font-size: 24px;
  }

  .get-started-today button {
    grid-row: 2 / span 2;
    grid-column-start: end;
  }

  .why-ingrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 1fr;
    padding: 150px 15vw 5vw 15vw;
    text-align: center;
  }

  .why-ingrid-content {
    grid-column-start: 2;
  }

  .why-ingrid-content p {
    font-size: 24px;
  }

  .lilatri-bottom {
    float: right;
  }
}
