body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  font-family: 'roboto-bold';
  margin: 0px
}

h2 {
  font-size: 50px;
  font-family: 'roboto-bold';
}

h3 {
  font-size: 32px;
  font-family: 'roboto-bold';
  margin: 0px;
}

p {
  font-size: 16px;
  font-family: 'roboto-medium';
}

a {
  text-decoration: none;
  color: black;
  font-family: roboto-bold;
  font-size: 28px;
  padding-right: 15px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ebebeb;
  max-width:250px;
  max-height: 75px;
  padding-right: 25px;
}

a:hover {
  text-decoration: underline;
}

.top-hero {
  display: grid;
  grid-template-columns: 10% 35% 5% 1fr;
  grid-template-rows: 5% 20% 1fr;
  height: 100vh;
}

.header-menu-logo {
  grid-column-start: 2;
  grid-row-start: 2;
}

.header-menu-items {
  grid-column: 4 / span 2;
  grid-row-start: 2;
}

.header-menu-items a {
  padding-right: 30px;
}

.hero-content {
  grid-column: 2 / span 2;
  grid-row-start: 3;
}

.hero-content h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slack-icon {
  width: 60px;
}

.slack-client {
  grid-column-start: 4;
  grid-row-start: 3;
}

.slack-client img {
  width: 45vw;
  padding-top: 2em;
}

.pink-hero {
  z-index: -1;
  grid-column: 1 / span 5;
  grid-row: 3 / baseline;
  width: 100%;
}

.features {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  padding-top: 200px;
}

.features h2 {
  grid-column-start: 2;
}

.feature1 {
  grid-column-start: 2;
}

.feature4 {
  grid-column-start: 2;
}

.what-users-say {
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  padding-top: 150px;
}

.what-users-say p {
  font-size: 24px;
}

.testimonial1 {
  grid-column-start: 2;
}

.what-users-say h2 {
  grid-column: 2 / span2;
}

.what-users-say img {
  max-width: 100px;
}

.get-started-today {
  display: grid;
  grid-template-columns: 10% 55% 25% 10%;
  grid-template-rows: 20% 10% 20%;
  grid-column-start: 2;
  padding-top: 50px;
}

.get-started-today h2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.get-started-today p {
  grid-column-start: 2;
  font-size: 24px;
  grid-row-start: 4;
}

.get-started-today button {
  grid-row: 3 / span 2;
  grid-column-start: 3;
}

.why-ingrid {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 25% 25% 1fr;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

.why-ingrid-content {
  grid-column-start: 2;
}

.why-ingrid-content p {
  font-size: 24px;
}

.lilatri-bottom {
  float: right;
}
